### 리스트의 인덱싱

In [1]:
a = [1,2,3]

In [2]:
a

[1, 2, 3]

In [3]:
a[0]

1

In [4]:
a[0] + a[2]

4

In [5]:
a[-1]

3

In [6]:
a = [1,2,3,['a','b','c']]

In [7]:
a[0]

1

In [8]:
a[-1]

['a', 'b', 'c']

In [9]:
a[-1][0]

'a'

### 리스트의 슬라이싱

In [10]:
a = [1,2,3,4,5]

In [11]:
a[0:2]

[1, 2]

In [12]:
a[:2]

[1, 2]

In [13]:
b = a[:2]
c = a[2:]
b

[1, 2]

In [14]:
c

[3, 4, 5]

### 리스트 연산자

#### 리스트더하기

In [15]:
a = [1,2,3]
b = [4,5,6]
a + b

[1, 2, 3, 4, 5, 6]

#### 리스트의 반복

In [16]:
a = [1,2,3]
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### 리스트의 수정, 변경과 삭제

#### 리스트에서 하나의 값 수정하기

In [17]:
a = [1,2,3]
a[2] = 4
a

[1, 2, 4]

#### 리스트에서 연속된 범위의 값 수정하기

In [18]:
a[1:2]

[2]

In [20]:
a[1:2] = ['a','b','c']
a

[1, 'a', 'b', 'c', 'b', 'c', 4]

### 리스트 관련 함수들

In [21]:
a = [1,2,3]
a.append([5,6])
a

[1, 2, 3, [5, 6]]

In [23]:
a = [1,4,3,2]
a.sort()
a

[1, 2, 3, 4]

In [24]:
a = ['a','c','b']
a.reverse()
a

['b', 'c', 'a']

In [25]:
a = [1,2,3]
a.index(3)

2

In [26]:
a.index(1)

0

In [38]:
a = [1, 2, 3]
a.insert(0, 4)

In [39]:
a

[4, 1, 2, 3]

In [40]:
a.insert(3,5)

In [41]:
a

[4, 1, 2, 5, 3]

In [42]:
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [43]:
a = [1,2,3]
a.pop()

3

In [44]:
a

[1, 2]

In [45]:
a = [1,2,3]
a.pop(1)

2

In [46]:
a

[1, 3]

In [48]:
a = [1,2,3,1]
a.count(1)

2

In [49]:
a = [1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [51]:
b = [6,7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7, 6, 7]

### 튜플 자료형

#### 튜플의 인덱싱과 슬라이싱, 더하기와 곱하기

In [52]:
t1 = (1, 2, 'a', 'b')
t1[0]

1

In [53]:
t1 = (1, 2, 'a', 'b')
t1[1:]

(2, 'a', 'b')

In [54]:
t2 = (3,4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [55]:
t2 * 3

(3, 4, 3, 4, 3, 4)

### 딕셔너리 쌍 추가, 삭제하기

In [56]:
a = {1: 'a'}
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [58]:
a['name'] = 'pey'
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [63]:
a

{2: 'b', 'name': 'pey'}

### 딕셔너리에서 key사용해 value 얻기

In [64]:
grade = {'pey' : 10, 'juliet' : 99}
grade['pey']

10

### 딕셔너리 관련 함수들ㄹ

In [65]:
a = {'name' : 'pey', 'phone': '0119993323', 'birth' : '1118'}
a.keys()

dict_keys(['birth', 'phone', 'name'])

In [66]:
for k in a.keys():
    print(k)

birth
phone
name

In [68]:
list(a.keys())

['birth', 'phone', 'name']

In [71]:
a.values()

dict_values(['1118', '0119993323', 'pey'])

In [72]:
a.items()

dict_items([('birth', '1118'), ('phone', '0119993323'), ('name', 'pey')])

In [73]:
a.clear()
a

{}

In [74]:
a = {'name':'pey', 'phone':'0119993326', 'birth':'1118'}
a.get('name')

'pey'

In [75]:
a.get('phone')

'0119993326'

In [76]:
'name' in a

True

In [77]:
'email' in a

False

## 집합자료형

In [78]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [79]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

#### 교집합, 합집합, 차집합 구하기

In [80]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
s1 & s2

{4, 5, 6}

In [81]:
s1.intersection(s2)

{4, 5, 6}

In [82]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [83]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [84]:
s1 - s2

{1, 2, 3}

In [85]:
s2 - s1

{7, 8, 9}

In [86]:
s1.difference(s2)

{1, 2, 3}

In [87]:
s2.difference(s1)

{7, 8, 9}

In [88]:
s1 = set([1,2,3])
s1.add(4)
s1

{1, 2, 3, 4}

In [89]:
s1 = set([1,2,3])
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

In [91]:
s1 = set([1,2,3])
s1.remove(2)
s1

{1, 3}

### 불자료형

In [92]:
a = True
b = False

In [93]:
1 == 1

True

In [94]:
2 > 1

True

In [95]:
2 < 1

False

In [96]:
a = [1, 2, 3, 4]
while a:
    print(a.pop())

4
3
2
1

#### 불 연산

In [98]:
bool('python')

True

In [99]:
bool('')

False

In [100]:
bool([1,2,3])

True

In [101]:
bool(0)

False

### if문

In [102]:
money = 1
if money:
        print("택시를 타고 가라")
else:
        print("걸어 가라")

택시를 타고 가라

In [103]:
money = 2000
if money >= 3000:
        print("택시를 타고 가라")
else:
        print("걸어가라")

걸어가라

In [ ]:
money = 2000
card = 1
if money>=3000 or card:
        print("택시를 타고 가라")
else:
        print("걸어가라")

In [104]:
pocket = ['papaer', 'cellphone', 'money']
if 'money' in pocket:
        print("택시를 타고 가라")
else:
        print("걸어가라")

택시를 타고 가라

In [105]:
pocket = ['paper', 'handphone']
card = 1
if money in pocket:
            print("택시를 타라")
elif card:
            print("택시를 타라")
else:
            print("걸어가라")

택시를 타라

In [106]:
if score >= 60:
    message = "success"
else:
    message = "failure"

NameError: name 'score' is not defined

In [107]:
message = "success" if score >= 60 else "failure"

NameError: name 'score' is not defined

### while문

In [109]:
treehit = 0
while treehit < 10:
    treehit = treehit +1
        print("나무를 %d번 찍었습니다." % treehit)
if treehit == 10:
        print("나무넘어갑니다")

IndentationError: unexpected indent (<ipython-input-109-ba1c7f6ab925>, line 4)